<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minieyes.picstory.comment.dao.CommentDAO">

	<insert id="insertComment"
		parameterType="map">
		
		INSERT INTO `comment`
			(`postId`
			, `userId`
			, `userName`
			, `content`
			, `createdAt`
			, `updatedAt`)
		VALUES
			(#{postId}
			, #{userId}
			, #{userName}
			, #{content}
			, now()
			, now())
	
	</insert>
	
	<select id="selectComment"
		parameterType="int"
		resultType="com.minieyes.picstory.comment.model.Comment">
		
		SELECT
			`comment`.id
			, `comment`.userId
    		, `comment`.userName
    		, `comment`.content
    		, `comment`.updatedAt
		FROM `post`
		JOIN `comment`
		ON `post`.`id` = `comment`.`postId`
		WHERE
			`post`.id = #{postId}
		ORDER BY `id`;
	
	</select>
	
	<delete id="deleteComment"
		parameterType="int">
	
		DELETE FROM
			`comment`
		WHERE
			`id` = #{id}
			
	</delete>
	
	<delete id="deleteCommentByPostId"
		parameterType="int">
		
		DELETE FROM
			`comment`
		WHERE
			`postId` = #{postId}
	
	</delete>
	
	
	<update id="updateComment"
		parameterType="map">
			
		UPDATE `comment`
		SET
			`content` = #{content},
			`updatedAt` = now()
		WHERE
			`id` = #{id}
	
	</update>

</mapper>