@charset "UTF-8";

#wrap {
	height: 100vh;
	background-color: #EDEDED;
}

#boxSignIn {
	width: 300px;
	height: 330px;
}

#boxSignInInput{
	width: 250px;
}

#boxSignUp {
	width: 300px;
	height: 500px;
}

#boxSignUpInput{
	width: 250px;
}

#chkResult {
	font-size: 10px;
}

#boxAskSign {
	font-size: 12px;
}

#boxUpdate {
	width: 300px;
	height: 500px;
}

#boxUpdateInput {
	width: 250px;
}

header {
	height: 70px;
}

header > #userName {
	font-size: 23px;
	font-weight: bold;
}

section {
	min-height: calc(100vh - 120px);
	background-color: #EDEDED;
}

.post {
	margin-top: 7px;
	margin-bottom : 3px;
	background-color: white;
	width: 500px;
	min-height: 100px; 
}

.post > .postHeader {
	font-size: 18px;
	font-weight: bold;
}

.post > .postHeader > .postDate {
	font-size: 15px;
	font-weight: lighter;
}

.postEditBtn {
	width: 25px;
}


.postDelBtn {
	width: 15px;
}

.post > .postImg > img {
	max-width: 480px;
	max-height: 500px;
}

.post > .postComment > .postCommentInput > .postCommentInputForm {
	width: 85%;
	margin-right: 10px;
}
.post > .postComment > .postCommentInput > button {
	width: 70px;
}

footer {
	position: sticky;
	top: 100vh;
	font-size: 15px;
	height: 50px;
}